<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
<title>게시글</title>
<meta charset="UTF-8">

<link href="/css/customer/layout.css" type="text/css" rel="stylesheet" />
</head>

<body>
	<!-- header 부분 -->
	<div th:replace="~{/view/inc/loginHeader::header}"></div>

	<!-- --------------------------- <nav> --------------------------------------- -->
	<div th:replace="~{/view/inc/navigation::nav}"></div>
	
	<!-- --------------------------- <visual> --------------------------------------- -->
	<div th:replace="~{/view/inc/visual::visual}"></div>
	
	<!-- --------------------------- <body> --------------------------------------- -->
	<div id="body">
		<div class="content-container clearfix">

			<!-- --------------------------- aside --------------------------------------- -->
			<div th:replace="~{/view/inc/aside::aside}"></div>
			<!-- --------------------------- main --------------------------------------- -->
			<main>
				<div th:replace="~{/view/inc/detailMain::detail}"></div>
				
				<form method="post" th:object="${notice}">
				<div style="margin-left:600px; margin-bottom:50px;">
				<button th:if="${hasBookmark == null || hasBookmark == ''}" type="submit" name="cmd" value="즐찾등록" onclick="return confirm('즐겨찾기 등록하시겠습니까?')" style="font-size:10px; background-color:#8CBA34; color:white; font-weight:bold; cursor:pointer; border:1px solid #8CBA34; border-radius:5px;">즐겨찾기 추가</button>
				<button th:if="${hasBookmark != null && hasBookmark != ''}"type="submit" name="cmd" value="즐찾해제" onclick="return confirm('즐겨찾기 해제하시겠습니까?')" style="font-size:10px; background-color:#8CBA34; color:white; font-weight:bold; cursor:pointer; border:1px solid #8CBA34; border-radius:5px;">즐겨찾기 해제</button>
				</div>
				<div class="margin-top text-align-center">
					<a class="btn-text btn-default"
						th:if="${user.nickname.equals(notice.nickname)}"
						th:href="${ 'edit?id=' + notice.id }">수정</a>
					<button type="submit" class="btn-text btn-default" name="cmd"
						value="삭제" th:if="${user.nickname.equals(notice.nickname) || user.nickname.equals('admin')}" onclick="return confirm('삭제하시겠습니까?')">삭제</button>
					</div>
					</form>
				<h1
					style="font-size: 15px; color: black; font-weight: bold; margin-top: 10px;">댓글</h1>
					<!-- <form method="post" action="deleteComment">
					 --><div class="comment" th:each="cm : ${comments}">
						<h1 th:text="${cm.nickname}"></h1>
						<pre th:text="${cm.content}"></pre>
						<h3 th:text="${cm.strRegDate}"></h3>
						<th:block
							th:if="${user.nickname.equals(cm.nickname) || user.nickname.equals('admin')}">
							<!-- <input type="hidden" th:text="${cm.id}" name="id" value="commentId">
							<button type="submit" onclick="return confirm('삭제하시겠습니까?')">삭제</button>
							 --><a th:href="${'deleteComment?id=' + cm.id}"
								onclick="return confirm('삭제하시겠습니까?')">삭제</a>
						</th:block>
					</div>
					<!-- </form>
				 -->
				<div class="post-comment">
					<form method="post" th:object="${notice}">
						<h1 th:text="${user.nickname}"></h1>
						<textarea rows="5" cols="50" placeholder="댓글을 작성해주세요."
							name="content"></textarea>
						<button type="submit" name="cmd" value="댓글"
							onclick="return confirm('등록하시겠습니까?')">등록하기</button>
					</form>
				</div>
			</main>
		</div>
	</div>

	<!-- ------------------- <footer> --------------------------------------- -->
	<div th:replace="~{/view/inc/footer::footer}"></div>
</body>

</html>