<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
<title>게시글</title>
<meta charset="UTF-8">

<link href="/css/customer/layout.css" type="text/css" rel="stylesheet" />
</head>

<body>
	<!-- header 부분 -->
	<div th:replace="~{/view/inc/header::header}"></div>

	<!-- --------------------------- <nav> --------------------------------------- -->
	<div th:replace="~{/view/inc/navigation::nav}"></div>

	<!-- --------------------------- <visual> --------------------------------------- -->
	<div th:replace="~{/view/inc/visual::visual}"></div>
	
	<!-- --------------------------- <body> --------------------------------------- -->
	<div id="body">
		<div class="content-container clearfix">

			<!-- --------------------------- aside --------------------------------------- -->
			<div th:replace="~{/view/inc/aside::aside}"></div>

			<!-- --------------------------- main --------------------------------------- -->
			<main>
				<div th:replace="~{/view/inc/detailMain::detail}"></div>
				<h1
					style="font-size: 15px; color: black; font-weight: bold; margin-top: 10px;">댓글</h1>
				<form method="post">
					<div class="comment" th:each="cm : ${comments}">
						<th:block th:if="${cm.id < 0}">
							<input type="text" name="id" value="${cm.id}">
							<input type="text" name="noticeId" value="${cm.noticeId}">
						</th:block>
						<h1 th:text="${cm.nickname}"></h1>
						<h2 th:text="${cm.content}"></h2>
						<h3 th:text="${cm.regdate}"></h3>
					</div>
				</form>

				<div class="post-comment">
					<form method="post" th:object="${notice}">
						<textarea rows="5" cols="50" placeholder="댓글을 작성해주세요."
							name="content"></textarea>
						<button type="submit" name="cmd" value="댓글"
							onclick="return alert('로그인 후 이용해주세요')">등록하기</button>
					</form>
				</div>
			</main>
		</div>
	</div>

	<!-- ------------------- <footer> --------------------------------------- -->
	<div th:replace="~{/view/inc/footer::footer}"></div>
</body>

</html>