<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

	<aside class="aside" th:fragment="aside">
		<div class="test">
		<pre>★나의 밴드 세션 적성이★ 
        궁금하다면??</pre>
		<h1>
			<a href="https://metavv.com/content/10908272" style="border: 10px solid #8CBA34; border-radius:5px; padding: 20px; padding-top:30px; padding-bottom:30px;">
			적성검사
			</a>
		</h1>
		<br><br><br><br><br>
		<h1><a href="https://metavv.com/content/10908272" style="margin-left:20px; font-size:21px;">>바로가기<</a></h1>
		</div>
	</aside>
	<!-- <aside class="aside">
				<h1>고객센터</h1>

				<nav class="menu text-menu first margin-top">
					<h1>고객센터메뉴</h1>
					<ul>
						<li><a class="current"  href="/customer/notice">공지사항</a></li>
						<li><a class=""  href="/customer/faq">자주하는 질문</a></li>
						<li><a class="" href="/customer/question">수강문의</a></li>
						<li><a class="" href="/customer/event">이벤트</a></li>
						
					</ul>
				</nav>


			</aside>

 --></body>