<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

	<header id="header" th:fragment="header">

		<div class="content-container">

			<h1 id="logo">
				<a href="index"> <img src="/images/Gaonlogo.png" alt="가온 홈페이지" />
				</a>
			</h1>

			<section>
				<h1 class="hidden">헤더</h1>

				<nav id="main-menu">
					<h1>메인메뉴</h1>
				</nav>

				<div class="sub-menu">
					<nav id="acount-menu">
						<h1 class="hidden">회원메뉴</h1>
						<ul>
							<li><a href="index">HOME</a></li>
							<li><a href="logout"
								onclick="return confirm('로그아웃 하시겠습니까?')">로그아웃</a></li>
							<li><a href="#">마이페이지</a></li>
							<li><h2 th:text="${user.nickname}"></h2></li>
						</ul>
					</nav>

				</div>
			</section>
		</div>
	</header>
</body>